body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* menu */
nav
{
	/* margin-bottom: 30px; */

  padding: 0;
	margin: 0;
	text-align: center;
	display: flex;
	border: 1px solid black;
	flex-direction: row;
	justify-content: space-between;
}

nav ul
{
	list-style: none;
}

li
{
	position: relative;
	width: 200px;
  /* border: 1px solid red; */
	padding: 5px 0;
	background-color: white;
}

.offered_product
{
	border: 1px solid green;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin: 10px;
	width: 100px;
}

.list_product
{
	display: flex;
	flex-direction: row;
}
